@using K_Chang_Blog.Models;
@using PagedList;
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity
@model PagedList.IPagedList<BlogPost>
@{
    ViewBag.Title = "Home Page";

    var db = new ApplicationDbContext();
    var user = db.Users.Find(User.Identity.GetUserId());
}

@* BlogPosts *@
<div class="col-md-8">
    <!-- Top Image -->
    <div class="container-fluid">
        <div class="row pt-5 pb-5">
            <img class="img-fluid" src="~/Images/bloghome.jpg" alt="Image placeholder">
        </div>
        <!-- END section -->
        <!-- Blog Posts Section -->

        <div class="row">
            <div class="col">
                <h2 class="mb-4" style="text-align:center">LATEST POSTS</h2>
            </div>
        </div>
        <div class="row-md-5">
            @foreach (var blogPost in Model)
            {
                <div class="row">
                    <div class="col">
                        <a href=@Url.Action("Details", "BlogPosts", new { slug = blogPost.Slug }) class="blog-entry element-animate" data-animate-effect="fadeIn">
                            @if (blogPost.ImagePath != null)
                            {
                                <img class="img-fluid" src="@blogPost.ImagePath" alt="">
                            }
                            else
                            {
                                <img class="img-fluid" src="~/Images/img_5.jpg" alt="Image placeholder">
                            }

                            <div class="blog-content-body">
                                <div class="row">
                                    <div class="post-meta">
                                        <span class="author mr-2"><img src="~/Images/face.jpg">   Khumor</span>&bullet;
                                        <span class="mr-2">@blogPost.Created </span> &bullet;
                                        <span class="ml-2"><span class="fa fa-comments"></span> x comments</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <h2>@blogPost.Title</h2>
                                </div>
                                <div id="abstracttext" class="row">
                                    @blogPost.Abstract
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            }
        </div>

        <!-- Pages -->
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <nav aria-label="Page navigation" class="text-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
                </nav>
            </div>
        </div>
    </div>
</div>

@* Side Box *@


@section scripts{       @*puts section scripts into layout @rendersection*@
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery-migrate-3.0.0.js"></script>
<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/owl.carousel.min.js"></script>
<script src="~/Scripts/jquery.waypoints.min.js"></script>
<script src="~/Scripts/jquery.stellar.min.js"></script>
<script src="~/Scripts/main.js"></script>
}