@using PagedList
@using PagedList.Mvc
@using K_Chang_Blog.Models
@using Microsoft.AspNet.Identity
@model BlogPost

@{
    ViewBag.Title = "Details";
    var db = new ApplicationDbContext();
    var blogPost = db.BlogPosts.Find(Model.Id);
    var comments = blogPost.Comments;
    var user = db.Users.Find(User.Identity.GetUserId());
}

<div class="col-8 pt-3">
    <div class="container-fluid">
        <section>
            @if (blogPost.ImagePath != null)
            {
                <img class="img-fluid mb-5" src=@blogPost.ImagePath alt="">
            }
            else
            {
                <img src="~/Images/img_10.jpg" alt="Image" class="img-fluid mb-5">
            }
        </section>
        <section>
            <div class="container">
                <div class="row blog-entries element-animate">
                    <div class="col main-content">
                        <div class="post-meta">
                            <span class="author mr-2"><img src="~/Avatars/admin.png" alt="" class="mr-2"> K.Chang </span>&bullet;
                            <span class="mr-2">@Model.Created.ToString("MMM dd, yyyy") </span> &bullet;
                            <span class="ml-2"><span class="fa fa-comments"></span> @Model.Comments.Count()</span>
                        </div>
                        <h3 class="mb-4" style="text-align:center">@Model.Title</h3>

                        <div class="post-content-body pb-3">
                            <p>@Html.Raw(Model.BlogPostBody)</p>
                        </div>
                        <hr />
                        <!-- comments -->
                        <div class="pt-2">
                            <div class="row text-center">
                                <div class="col">
                                    <h5 class="mb-5">@Model.Comments.Count() Comments</h5>
                                </div>
                            </div>
                            
                            @foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
                            {
                                <div class="container-fluid mt-3">
                                    <div class="media">
                                        <div class="row">
                                            <div class="col-2" style="width: 60px">
                                                @if (comment.Author.AvatarPath != null)
                                                {
                                                    <img src="@comment.Author.AvatarPath" class="align-self-start mr-3 shadow" style="width:60px" />
                                                }
                                                else
                                                {
                                                    <img src="~/Avatars/default_user.jpg" class="align-self-start mr-3 shadow" style="width:60px" />
                                                }

                                            </div>
                                            <div class="col-9" style="width: 320px;">
                                                <div class="media-body">
                                                    <h5>@comment.Author.DisplayName</h5>
                                                    <div class="meta small">@comment.Created</div>
                                                    <p>@comment.CommentBody</p>
                                                </div>
                                            </div>
                                            @if (comment.AuthorId == user.Id)
                                            {
                                                <div class="col-1 text-right">
                                                    <a href="@Url.Action("Delete", "Comments", new { id = comment.Id })" class="btn btn-danger rounded">Delete</a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="row mt-5">
                                <div class="col-md-12 text-center">
                                    <nav aria-label="Page navigation" class="text-center">
                                        @*@Html.PagedListPager(comments, page => Url.Action("Details", new { page }))PAGES*@
                                    </nav>
                                </div>
                            </div>

                            <!-- END comment-list -->
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="row py-3">
                                    @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("BlogPostId", Model.Id)
                                        
                                        <div class="col">
                                            @Html.TextArea("CommentBody", new { rows = 5, cols = 70, placeholder = "Comment..." })
                                        </div>
                                        <div class="col">
                                            <button type="submit" class="btn btn-sm btn-dark">Add Comment</button>
                                        </div>
                                    }
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


@section scripts{       @*puts section scripts into layout @rendersection*@
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery-migrate-3.0.0.js"></script>
<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/owl.carousel.min.js"></script>
<script src="~/Scripts/jquery.waypoints.min.js"></script>
<script src="~/Scripts/jquery.stellar.min.js"></script>
<script src="~/Scripts/main.js"></script>

}