@using PagedList;
@using PagedList.Mvc;
@using K_Chang_Blog.Models;
@model IPagedList<BlogPost>
@{
    ViewBag.Title = "Home";
}


<div class="col-8">
    <!-- Top Image -->
    <div class="container-fluid">
        <div class="row pt-5 pb-5">
            <img class="img-fluid" src="~/Images/bloghome.jpg" alt="Image placeholder">
        </div>
        <!-- END section -->
        <!-- Blog Posts Section -->

        <div class="row">
            <div class="col">
                <h2 class="mb-4" style="text-align:center">ALL POSTS</h2>
            </div>
        </div>
        <div class="row-md-5">
            @foreach (var blogPost in Model)
            {
                <div class="row">
                    <div class="col">
                        <a href=@Url.Action("Details", "BlogPosts", new { slug = blogPost.Slug }) data-animate-effect="fadeIn" class="blog-entry">
                            <div class="blog-content-body">
                                <div class="row">
                                    <div class="post-meta">
                                        <span class="author mr-2"><img src="~/Images/face.jpg" alt="Colorlib">   Colorlib</span>&bullet;
                                        <span class="mr-2">@blogPost.Created </span> &bullet;
                                        <span class="ml-2"><span class="fa fa-comments"></span> x comments</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <h3>@blogPost.Title</h3>
                                </div>
                                <div id="abstracttext" class="row">
                                    @blogPost.Abstract
                                </div>
                            </div>
                        </a>
                        <div class="row pl-5 pb-lg-5">
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="col pl-3 pr-3">@Html.ActionLink("Edit", "Edit", new { slug = blogPost.Slug }, new { @class = "btn btn-primary" })</div>
                                <div class="col pl-3 pr-3">@Html.ActionLink("Delete", "Delete", new { id = blogPost.Id }, new { @class = "btn btn-danger" })</div>
                            }

                        </div>
                    </div>

                </div>
            }
        </div>

        <!-- Pages -->
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <nav aria-label="Page navigation" class="text-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
                    <div class="col pl-3 pr-3">@Html.ActionLink("Create New", "Create")</div>
                </nav>
            </div>
        </div>
    </div>
</div>

@section scripts{       @*puts section scripts into layout @rendersection*@
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery-migrate-3.0.0.js"></script>
<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/owl.carousel.min.js"></script>
<script src="~/Scripts/jquery.waypoints.min.js"></script>
<script src="~/Scripts/jquery.stellar.min.js"></script>
<script src="~/Scripts/main.js"></script>

}
