@using PagedList;
@using PagedList.Mvc;
@using K_Chang_Blog.Models;
@model PagedList.IPagedList<BlogPost>

@{
    ViewBag.Title = "PubIndex";
}

<h2>Index</h2>

<p>
    <div class="col pl-3 pr-3">@Html.ActionLink("Create New", "Create")</div>
    <div class="col pl-3 pr-3">@Html.ActionLink("Edit", "Edit")</div>
    <div class="col pl-3 pr-3">@Html.ActionLink("Delete", "Delete")</div>
    <div class="col pl-3 pr-3">@Html.ActionLink("Details", "Details")</div>
</p>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abstract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogPostBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
            </td>
        </tr>
    }

</table>
@section scripts{       @*puts section scripts into layout @rendersection*@
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery-migrate-3.0.0.js"></script>
<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/owl.carousel.min.js"></script>
<script src="~/Scripts/jquery.waypoints.min.js"></script>
<script src="~/Scripts/jquery.stellar.min.js"></script>
<script src="~/Scripts/main.js"></script>

}