@model IEnumerable<K_Chang_Blog.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<header role="banner">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-9">

                </div>
                <div class="col-3 search-top">
                    <!-- <a href="#"><span class="fa fa-search"></span></a> -->
                    <form action="#" class="search-top-form">
                        <span class="icon fa fa-search"></span>
                        <input type="text" id="s" placeholder="Type keyword to search...">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container logo-wrap">
        <div class="row pt-5">
            <div class="col-12 text-center">
                <a class="absolute-toggle d-block d-md-none" data-toggle="collapse" href="#navbarMenu" role="button" aria-expanded="false" aria-controls="navbarMenu"><span class="burger-lines"></span></a>
                <h1 class="site-logo">BLOG</h1>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-md  navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link">Home</a>
                    </li>
                    <li>
                        <p class="nav-link">&#183</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/About">About</a>
                    </li>
                    <li>
                        <p class="nav-link">&#183</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Contact">Contact</a>
                    </li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>
                            <p class="nav-link">&#183</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="~/Account/Login">Login</a>
                        </li>
                        <li>
                            <p class="nav-link">&#183</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="~/Account/Register">Register</a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <p class="nav-link">&#183</p>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("View Published Posts", "PubIndex", "BlogPosts")
                        </li>
                        <li>
                            <p class="nav-link">&#183</p>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("View All Posts", "Index", "BlogPosts")
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="col">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPost.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateReason)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlogPost.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentBody)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateReason)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>

<div class="col pl-5">
    <div class="sidebar-box search-form-wrap">
        <!--BLANK SPACE-->
    </div>
    <!-- END sidebar-box -->
    <!--================CHANGE THIS TO LOGGED IN USER=================-->
    <div class="sidebar-box">
        <div class="bio text-center">
            @if (!User.Identity.IsAuthenticated)
            {
                <img src="~/Images/default-face.jpg" alt="Image Placeholder" class="img-fluid">
            }
            else
            {
                <img src="~/Images/default-face.jpg" alt="Image Placeholder" class="img-fluid">
            }
            <div class="bio-body">
                <h2>@User.Identity.Name</h2>
                <p>test test 123.</p>
                @if (!User.Identity.IsAuthenticated)
                {
                    <p><a href="~/Account/Login" class="btn btn-primary btn-sm rounded">Log In</a></p>
                    <p><a href="~/Account/Register">Register</a></p>
                }
                else
                {
                    <p>@Html.ActionLink("LogOff", "LogOff", "Account", null, new { @class = "btn btn-primary btn-sm rounded" })</p>
                }

            </div>
        </div>
    </div>
    <!--===============================================================-->
    <div class="sidebar-box">
        <h3 class="heading">Categories</h3>
        <ul class="categories">
            <li><a href="#">Food <span>(12)</span></a></li>
            <li><a href="#">Travel <span>(22)</span></a></li>
            <li><a href="#">Lifestyle <span>(37)</span></a></li>
            <li><a href="#">Business <span>(42)</span></a></li>
            <li><a href="#">Adventure <span>(14)</span></a></li>
        </ul>
    </div>
    <!-- END sidebar-box -->
    @*<div class="sidebar-box">
            <h3 class="heading">Tags</h3>
            <ul class="tags">
                <li><a href="#">Travel</a></li>
                <li><a href="#">Adventure</a></li>
                <li><a href="#">Food</a></li>
                <li><a href="#">Lifestyle</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Freelancing</a></li>
                <li><a href="#">Travel</a></li>
                <li><a href="#">Adventure</a></li>
                <li><a href="#">Food</a></li>
                <li><a href="#">Lifestyle</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Freelancing</a></li>
            </ul>
        </div>*@
</div>